<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="m-5 text-6xl md:text-7xl bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-violet-500 font-bold text-center col-span-4">
        WikiFutbol
    </h1>
    <section id="section-container-teams">
        <div id="app-teams">

        </div>
    </section>

    <script src="/js/teams.js"></script>
</body>
</html>